body {
	background: #061120;
	font-size: 11pt;
}
body.theater {
	overflow: hidden;
}
div.second-stage {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: #000;
	z-index: 100;
	opacity: 0.5;
}
#page {
	width: 500px;
	height: 340px;
	margin: 30px auto;
	padding: 20px 20px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	background: #FFDDAA;
    background: -moz-linear-gradient( center bottom , #FFDDAA 0%, #FFEECC 40%, #FFF6E0 85%, #FFDDAA 85%, #FFDDAA 100% ) repeat scroll 0 0 #FFDDAA;
    background: -webkit-gradient( linear, left bottom, left top, color-stop(0, #FFDDAA), color-stop(0.4, #FFEECC), color-stop(0.85, #FFF6E0), color-stop(0.85, #FFDDAA), color-stop(1, #FFDDAA) );
	-moz-box-shadow: 0px 0px 25px #FFF;
	-webkit-box-shadow: 0px 0px 25px #FFF;
	box-shadow: 0px 0px 25px #FFF;
	overflow: hidden;
}

#page .header {
	font-size: 22pt;
	text-align: center;
	margin-bottom: 20px;
}

input.big-textbox {
	width: 95%;
	padding: 5px;
	border: 1px solid #AAA;
	font-size: 10pt;
}

#errMsg {
	color: #F00;
	text-align: center;
	font-size: 9pt;
}