body {
	background: #061120;
	font-size: 11pt;
}
body.theater-mode {
	overflow: hidden;
}
body.theater-mode div.theater-mask,
body.theater-mode div.theater-container {
	display: block;
}
div.theater-mask {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: #061120;
	z-index: 50;
	opacity: 0.7;
	display: none;
}
div.theater-container {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 51;
	overflow: auto;
	display: none;
}
#signup_form,
#resetpwd_form {
	background: #FFF;
	padding: 10px 20px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	-moz-box-shadow: 0px 0px 25px #FFF;
	-webkit-box-shadow: 0px 0px 25px #FFF;
	box-shadow: 0px 0px 25px #FFF;
}
#resetpwd_form {
	margin: 100px auto auto auto;
	width: 300px;
	height: 200px;
	background: #FFDDAA;
    background: -moz-linear-gradient( center bottom , #FFDDAA 0%, #FFEECC 40%, #FFF6E0 85%, #FFDDAA 85%, #FFDDAA 100% ) repeat scroll 0 0 #FFDDAA;
    background: -webkit-gradient( linear, left bottom, left top, color-stop(0, #FFDDAA), color-stop(0.4, #FFEECC), color-stop(0.85, #FFF6E0), color-stop(0.85, #FFDDAA), color-stop(1, #FFDDAA) );
}
#signup_form {
	margin: 50px auto auto auto;
	width: 400px;
	height: 300px;
	background: #FFDDAA;
    background: -moz-linear-gradient( center bottom , #FFDDAA 0%, #FFEECC 40%, #FFF6E0 89%, #FFDDAA 89%, #FFDDAA 100% ) repeat scroll 0 0 #FFDDAA;
    background: -webkit-gradient( linear, left bottom, left top, color-stop(0, #FFDDAA), color-stop(0.4, #FFEECC), color-stop(0.89, #FFF6E0), color-stop(0.89, #FFDDAA), color-stop(1, #FFDDAA) );
}

.close_button {
	float: right;
	cursor: pointer;
}
.close_button:hover {
	color: #666;
}
#page {
	width: 500px;
	height: 340px;
	margin: 30px auto;
/*	padding: 10px 20px;*/
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	background: #FFDDAA;
    background: -moz-linear-gradient( center bottom , #FFDDAA 0%, #FFEECC 40%, #FFF6E0 100% ) repeat scroll 0 0 #FFDDAA;
    background: -webkit-gradient( linear, left bottom, left top, color-stop(0, #FFDDAA), color-stop(0.4, #FFEECC), color-stop(1, #FFF6E0) );
	-moz-box-shadow: 0px 0px 25px #FFF;
	-webkit-box-shadow: 0px 0px 25px #FFF;
	box-shadow: 0px 0px 25px #FFF;
	overflow: hidden;
}

#page .header {
	font-size: 22pt;
	text-align: center;
	padding-top: 20px;
/*	margin-bottom: 20px;*/
	height: 30px;
/*	-webkit-border-top-right-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;*/
	background: #FFDDAA;
}

input.big-textbox {
	width: 95%;
	padding: 5px;
	border: 1px solid #AAA;
	font-size: 10pt;
	margin-bottom: 10px
}

#errMsg {
	color: #F00;
	text-align: center;
	font-size: 10pt;
}

div {
	line-height: 15px;
}